.result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bad-score {
    background-color: red;
}

.normal-score {
    background-color: yellow;
}

.good-score {
    background-color: green;
}